@tailwind base;
@tailwind components;
@tailwind utilities;

.stars-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}
.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #ffffff;
  border-radius: 50%;
  animation: twinkle 2s infinite;
}

.meteor {
  position: fixed;
  width: 300px;
  height: 1px;
  opacity: 0;
  z-index: -1;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
}

.meteor::before {
  content: "";
  position: fixed;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(#fff, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes moveStars {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(10vh) translateX(10vw);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}


/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
  margin-right: 2px;
}

*::-webkit-scrollbar-track {
  @apply bg-neutral-400;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}
