acme==1.1.0
alembic==1.12.1
aniso8601==9.0.1
appdirs==1.4.4
astroid==2.3.3
asttokens==2.4.1
attrs==19.3.0
Automat==0.8.0
backcall==0.2.0
bcrypt==3.1.7
blinker==1.7.0
bson==0.5.10
certbot==0.40.0
certifi==2019.11.28
cffi==1.16.0
chardet==3.0.4
click==8.1.7
colorama==0.4.3
comm==0.1.4
command-not-found==0.3
ConfigArgParse==0.13.0
configobj==5.0.6
connection==2021.7.20
constantly==15.1.0
cryptography==2.8
dbus-python==1.2.16
debugpy==1.8.0
decorator==5.1.1
Deprecated==1.2.14
distlib==0.3.7
distro==1.4.0
entrypoints==0.3
executing==2.0.0
fabric==3.2.2
Fabric3==1.14.post1
filelock==3.12.4
flasgger==0.9.7.1
Flask==2.3.3
Flask-Bcrypt==1.0.1
Flask-Cors==4.0.0
Flask-Login==0.6.3
Flask-Migrate==4.0.5
Flask-RESTful==0.3.10
flask-restx==1.2.0
Flask-SQLAlchemy==3.1.1
future==0.18.2
greenlet==3.0.1
httplib2==0.14.0
hyperlink==19.0.0
idna==2.8
importlib-metadata==6.8.0
importlib-resources==6.1.1
incremental==16.10.1
invoke==2.2.0
ipykernel==6.26.0
ipython==8.12.3
isort==4.3.4
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
josepy==1.2.0
jsonpatch==1.22
jsonpointer==2.0
jsonschema==3.2.0
jupyter_client==8.5.0
jupyter_core==5.4.0
keyring==18.0.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.4.3
logilab-common==1.4.3
Mako==1.3.0
MarkupSafe==2.1.3
matplotlib-inline==0.1.6
mccabe==0.6.1
mistune==3.0.2
mock==3.0.5
more-itertools==4.2.0
nest-asyncio==1.5.8
netifaces==0.10.4
numpy==1.24.4
oauthlib==3.1.0
packaging==23.2
paramiko==2.12.0
parsedatetime==2.4
parso==0.8.3
pbr==5.4.5
pep8==1.7.1
pexpect==4.6.0
pickleshare==0.7.5
pipenv==2023.9.8
platformdirs==3.10.0
prompt-toolkit==3.0.39
psutil==5.9.6
pure-eval==0.2.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycodestyle==2.10.0
pycparser==2.21
Pygments==2.16.1
PyGObject==3.36.0
PyHamcrest==1.9.0
PyJWT==1.7.1
pylint==2.4.4
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==3.1.1
pyRFC3339==1.1
pyrsistent==0.15.5
pyserial==3.4
python-apt==2.0.0+ubuntu0.20.4.3
python-dateutil==2.8.2
python-debian===0.1.36ubuntu1
python-dotenv==1.0.0
pytz==2019.3
PyYAML==5.3.1
pyzmq==25.1.1
requests==2.22.0
requests-toolbelt==0.8.0
requests-unixsocket==0.2.0
scipy==1.10.1
SecretStorage==2.3.1
service-identity==18.1.0
simplejson==3.16.0
six==1.14.0
sos==4.3
SQLAlchemy==2.0.23
ssh-import-id==5.10
stack-data==0.6.3
systemd-python==234
tornado==6.3.3
traitlets==5.12.0
Twisted==18.9.0
typing_extensions==4.8.0
ubuntu-advantage-tools==20.3
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.8
virtualenv==20.24.5
wadllib==1.3.3
wcwidth==0.2.8
Werkzeug==2.3.8
wrapt==1.15.0
zipp==3.17.0
zope.component==4.3.0
zope.event==4.4
zope.hookable==5.0.0
zope.interface==4.7.1
